<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read note from others</title>
    <script type="script/js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <h1>Read note from others</h1>
    <div class="note">
        <% notes.forEach((note)=>{ %>
            <p><%= note %></p>
        <% }) %>
    </div>
</body>
</html>